.blog{
            background-color: gray ;
            border: 10px solid rgba(20, 113, 220, 0.486);
            padding: 20px;
            
}
.blog p{
            background-color: coral;
            text-decoration-color: crimson;
            font-size: 40px;
            border: 2px solid yellow;
}

  
#exp2{
            background-color: aqua;
}
#exp3{
            background-color: coral;
            text-align: center;
            text-decoration-color: cadetblue;
}
.css1{
            background-color: grey;
            border: 15px dashed rgb(4, 52, 156);
}
.css2{
            
            
            color: burlywood;
}
.heading{
            background-color: cadetblue;
            text-align: center;
}
   